@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins" , sans-serif;
}
:root{
  --blue: #006eff;
--white: #ffffff;
--gray: #f5f5f5;
--black1: #000000;
--black2: #777777;
--green: #8de02c;
--pink: #ff0095;
--red: #FF0000;
--orange: #FFA500;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

.container{
position: relative;
width: 100%;
}

/* -------------------------------navigation-------------------- */
.navigation{
position: fixed;
width: 300px;
height: 100%;
background: var(--orange);
border-left: 10px solid var(--orange);
transition: 0.5s;
overflow: hidden;
  }

  .navigation.active{
    width: 80px;
  }

.navigation ul{
position: absolute;
top: 0;
left: 0;
width: 100%;
}

.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
  background-color:var(--white);
}
.navigation ul li .active{
  background-color:var(--white);
}

.navigation ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a{
  position: relative;
  display: block;
  display: flex;
  width: 100%;
text-decoration: none;
color: var(--white);
}


.navigation ul li a:hover,
.navigation ul li.hovered a{
  color: var(--black1);

}
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon{
  font-size: 1.75rem;
}

.navigation ul li a .title{
  position: relative;
display: block;
padding: 0 10px;
height: 60px;
line-height: 60px;
text-align: start;
white-space: nowrap;
}


.navigation ul li a .ic{
  position: relative;
  display: block;
  min-width:60px;
  height: 20px;
  line-height: 70px;
  text-align: center;
  width: 15px;
}
.navigation ul li a .ic ion-icon{
  font-size: 1.30rem;
}



/* -------------curvepart---------------- */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
content: "";
position: absolute;
right: 0;
top: -50px;
width: 50px;
height: 50px;
background-color: transparent;
border-radius: 50%;
box-shadow: 35px 35px 0 10px var(--white);
pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
  }

/* ------------------menu part----------------- */

  .main{
    position: absolute;
width: calc(100% - 300px);
left: 300px;
min-height: 100vh;
background: var(--white);
transition: 0.5s;
  }

  .main.active{
  left: 80px;
  width: calc(100% -80px);
  }
  .topbar{
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 60px;
  }

  .toggle{
position: relative;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
cursor: pointer;
  }

  .user{
position: relative;
width: 100px;
height: 100px;
border-radius: none;
overflow: hidden;
cursor: pointer;
  }

  .user a img{
position: absolute;
top: 0;
left: 0;
margin-left: 15px;
width: 100%;  
height: 100%;
object-fit: cover;
}

/* ----------------------------- */
   /* --------------------------------Members sign-------------------------- */

  .detail{
    position: relative;
    width: 151%;
    padding:20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
      }
    
      .detail .sign{
    position: relative;
    display: flexbox;
    min-height: 120px;
    background: var(--white);
    padding: 50px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

      }
    
      .detail .cardhead{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -30px;
    
      }
    .cardhead h2{
      font-size: 30px;
      font-weight: 600;
      color: var(--orange);
      cursor: default;
    }
    .cardhead .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    }
     .cardhead .btn:hover{
     color: rgb(0, 0, 0);
       }
    
       /* -------------------------table------------------------- */
     .detail table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    margin-bottom: 50px;
     }
    
     .detail table thead td{
    font-weight: 600;
    padding: 10px;
     }
    
     .detail .sign table tr{
     color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .detail .sign table tr:last-child{
      border-bottom: none;
    }
    
    
    /* .details .signup table tbody tr:hover{
     background: var(--orange);
     color: var(--white);
     } */
     .detail .sign table tr td{
      padding: 10px 20px;
     } 
    
     .detail .sign table tr td:last-child{
     text-align: center;
    }
    .detail .sign table tr td:nth-child(2){
      text-align: center;
     }
     .detail .sign table tr td:nth-child(3){
      text-align: center;
     
     }
     .detail .sign table tr td:nth-child(4){
      text-align: center;
     }
     .detail .sign table tr td:nth-child(5){
      text-align: center;
    
     }
     .detail .sign table tr td:nth-child(6){
      text-align: center;
     }
     input, select {
      width: 100%;
      padding: 6px;
      display: inline-block;
      box-sizing: border-box;
    }
     #save-btn {
      border-color: transparent;
      background-color: var(--orange);
      color: var(--white);
      border-radius: 6px;
    cursor: pointer;
      border: var(blue);
      padding: 10px 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #save-btn:hover {
      background-color: var(--green);
    }
  
    #close-btn {
      border-color: transparent;
      background-color: var(--orange);
      color: var(--white);
     cursor: pointer;
      border-radius: 6px;
      border: var(--red);
      padding: 10px 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #close-btn:hover { 
      color: var(--white);
      background-color: #FF0000;
    }
      
  /* --------------------------------responsive design-------------------------------------------------- */

  @media (max-width: 991px) {
    .navigation{
      left: -300px;
    }
.navigation.active{
  width: 300px;
  left: 0;
}
.main{
  width: 100%;
  left: 0;
}
.main.active{
left: 300px;
}
#mymodel{
  width: 100%;
  left:-140%;
    }
.signup{
width: 100%;
left:0;
  }
}

  @media (max-width: 768px) {
    #mymodel .signup{
      grid-template-columns: 1fr;
    }

  }
@media (max-width: 480px) {
.user{
  min-width: 40px;
}
.navigation{
  width: 100%;
  left: -100%;
  z-index: 1000;
}
.navigation.active{
width: 100%;
left: 0;
}
.toggle{
z-index: 1000;
}
.main.active .toggle{
color: #ffffff;
}

  }