
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
     }
    
     .details table thead td{
    font-weight: 600;
    padding: 10px;
     }
    
     .details .signup table tr{
     color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .details .signup table tr:last-child{
      border-bottom: none;
    }
    
    
    .details .signup table tbody tr:hover{
     background: var(--blue);
     color: var(--white);
     }
     .details .signup table tr td{
      padding: 10px 20px;
     } 
    
     .details .signup table tr td:last-child{
     text-align: center;
    }
    .details .signup table tr td:nth-child(2){
      text-align: center;
     }
     .details .signup table tr td:nth-child(3){
      text-align: center;
     
     }
     .details .signup table tr td:nth-child(4){
      text-align: center;
     }
     .details .signup table tr td:nth-child(5){
      text-align: center;
    
     }
     .details .signup table tr td:nth-child(6){
      text-align: center;
     }